.content{
    margin: 8rem 6rem;
    text-align: center;
    opacity: 0.8;
}

.mid_content{
    margin: 4rem 6rem;
    text-align: center;
    opacity: 0.8;
}

.content h1, 
.mid_content h1{
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

.content h3,
.mid_content h3{
    padding-bottom: 1rem;
    font-size: 1.8rem;
}

.content p,
.mid_content p{
    padding-bottom: 1rem;
    font-size: 1.5rem;
}


@media screen and (max-width: 850px ) {
    .content{
        margin: -15rem 2rem;
    }

    .mid_content{
        margin: 1rem 2rem;
    }

    .content h1
    .mid-conten h1{
        font-size: 2rem;
        padding-bottom: .5rem;
    }

    .content h3
    .mid-conten h3{
        font-size: 1.3rem;
        padding-bottom: .5rem;
    }

    .content p,
    .mid-content p{
        font-size: 1rem;
        padding-bottom: .5rem;
    }
    
}

@media screen and (max-width: 650px) {
    .content h1,
    .mid-content h1{
        font-size: 1.8rem;
        padding-bottom: .5rem;
    }

    .content h3,
    .mid-content h3{
        font-size: 1rem;
        padding-bottom: .5rem;
    }

    .content p,
    .mid-content p{
        font-size: 0.8rem;
        padding-bottom: .5rem;
    }

}